// compress: true

@import "blocks";

@font-face {
	src: url();
	font-family: "";
}

body {
	overflow-x: hidden;
	font-family: sans-serif;
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	width: 100%;
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	padding: 0 15px;
}
