.wrapper {
  width: 1111px;
  margin: 0 auto;
  padding: 20px;
}
.wrapper p {
  margin: 20px 0;
  max-width: 700px;
}
.wrapper a {
  text-decoration: none;
  color: #00458b;
}
.wrapper a:hover {
  text-decoration: underline;
}
.wrapper .code-bg {
  background-color: lightgray;
}
.wrapper h3 {
  font-weight: bold;
}
.wrapper h2 {
  font-size: 36px;
  font-weight: bold;
}
.wrapper .annotation {
  background-color: #f7f791;
  border-left: 8px solid orange;
  padding: 10px 10px;
  margin: 20px 0;
  margin-bottom: 5px;
  line-height: 30px;
}
.wrapper .annotation p {
  margin: 0;
}
.wrapper .annotation .ann-link {
  text-decoration: underline;
  color: black;
}
.wrapper .usage-ann {
  background-color: #cce5fe;
  border-left: 7px solid #7aa0c6;
}
.wrapper .usage-ann .usage-h3 {
  font-weight: bold;
}
.wrapper .info-table-wrapper {
  display: flex;
}
.wrapper .info-table-wrapper .info-table {
  background-color: #f7f7f1;
  border: 2px solid #2222a5;
  border-left: 7px solid #2222a5;
}
.wrapper .info-table-wrapper .info-table .row {
  margin: 0;
  padding: 20px 10px;
  display: flex;
  flex: 0 0;
  width: 666px;
}
.wrapper .info-table-wrapper .info-table .row + .row {
  border-top: 2px solid #2222a5;
}
.wrapper .info-table-wrapper .info-table .row .cat {
  width: 177px;
  font-weight: bold;
}
.wrapper .info-table-wrapper .info-table .row .info {
  margin-left: 22px;
  text-align: left;
}
.wrapper .attr {
  margin-top: 40px;
}
.wrapper .exmpls {
  margin-top: 40px;
}
.wrapper .exmpls p {
  display: block;
}
.wrapper .exmpls .exmpls-ann {
  margin-top: 20px;
  background-color: #dde8ef;
  border-left: 8px solid #2222a5;
  line-height: 15px;
}
.wrapper .exmpls .exmpls-ann .exmpls-code {
  margin-left: 22px;
}
.wrapper .exmpls .exmpls-ann .exmpls-code p {
  margin: 5px 0;
}
.wrapper .exmpls .exmpls-ann .exmpls-code .exmpls-tag {
  color: brown;
}
.wrapper .exmpls .exmpls-ann .exmpls-code .nesting {
  margin-left: 22px;
}
.wrapper .compatibility {
  margin-top: 40px;
}
.wrapper .compatibility ul {
  margin-top: 40px;
}
.wrapper .compatibility ul li {
  list-style: disc;
  margin-left: 44px;
}
.wrapper .compatibility ul li + li {
  margin-top: 11px;
}
.wrapper .compatibility .comp-table {
  margin: 40px 0 30px;
}
.wrapper .compatibility .comp-table th,
.wrapper .compatibility .comp-table td {
  border: 1px solid gray;
  padding: 10px;
}
.wrapper .extra {
  margin-top: 40px;
}
.wrapper .extra ul {
  width: 611px;
  margin-top: 40px;
  line-height: 28px;
}
.wrapper .extra ul li {
  list-style: disc;
  margin-left: 44px;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
