<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/styles/style.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
   <title>task</title>
</head>
<body>
   <div class="wrapper">
      <div class="products">
         <div class="item" data-id='11'>
            <h3 class="item_title">apple</h3>
            <a class="btnBuy" data-id='11'>Buy</a>
         </div>
         <div class="item" data-id='12'>
            <h3 class="item_title">cherry</h3>
            <a class="btnBuy" data-id='12'>Buy</a>
         </div>
         <div class="item" data-id='13'>
            <h3 class="item_title">orange</h3>
            <a class="btnBuy" data-id='13'>Buy</a>
         </div>
      </div>
      <div class="cart">
         <h2>cart</h2>
         <div class="cart-inner">
            <form name="cartForm" class="cartForm">
               <div class="list"></div>
               <button class="btnNewOrder" type="button">new order</button>
               <div class="cart_order">
                  <input type="text" name="inpName" placeholder="your name:">
                  <input type="text" name="inpAddress" placeholder="your address:">
                  <button type="submit">make order</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <script src="/js/browser.js"></script>
</body>
</html>