<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>mongoArticles</title>
   <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>
<body>
   <h1>hello, mongo</h1>

   <div class="articles">
    <div class="item">
      <span>example of article</span>
    </div>
   </div>

   <form name="pushArticle">
      <input type="text" name="inpTitle" placeholder="title of article">
      <input type="text" name="inpAuthor" placeholder="author of article">
      <input type="text" name="inpText" placeholder="text of article">
      <button type="submit">send</button>
   </form>
	<script src="javascripts/browser.js"></script>
</body>
</html>