.wrapper {
	margin: 0 auto;
	padding: 15px;
	width: 1200px;
	background: lightgray;
}

.section+.section {
	margin-top: 33px;
}

.section {
	background: pink;
	padding: 22px;
}

.base64 img {
	width: 222px;
	height: 222px;
}

.iconic .story+.story {
	margin-top: 11px;
}

.svg svg {
	width: 111px;
}

.svg svg:hover .path1 {
	fill: red;
}

.svg svg:hover .path2 {
	fill: darkgoldenrod;
}