body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 999px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 34px;
  line-height: 40px;
  color: #d8aa02;
  margin: 0;
}

.subtitle {
  font-size: 18px;
  color: gray;
}

.link {
  color: blue;
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
}

.link:hover, .link:focus {
  color: #0000cc;
}

.btn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 11px 55px;
}

.btn:hover, .btn:focus {
  background-color: #eb6ceb;
}

.btn-2 {
  text-decoration: none;
  background: #70c217;
  padding: 22px 29px;
  display: inline-block;
}

.btn-2:hover, .btn-2:focus {
  background-color: #63ab14;
}

.header {
  padding-top: 10px;
}

.header .header_top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .logo {
  padding-left: 28px;
}

.header .header_top .logo img {
  width: 80px;
  height: 58px;
}

.header .header_top .header_rightside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_rightside .header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header_top .header_rightside .header-login .header-login_link {
  font-size: 13px;
  color: #d8aa02;
}

.header .header_top .header_rightside .header-login .header-login_link:hover, .header .header_top .header_rightside .header-login .header-login_link:focus {
  color: #a07e01;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.header .header_top .header_rightside .header-login .header-login_userpic {
  width: 22px;
  height: 22px;
}

.header .header_top .header_rightside .page-search {
  margin-left: 23px;
}

.header .header_top .header_rightside .page-search .page-search_form {
  position: relative;
}

.header .header_top .header_rightside .page-search .page-search_form .page-search_field {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: #c8c8c7;
  width: 225px;
}

.header .header_top .header_rightside .page-search .page-search_form .page-search_submit {
  position: absolute;
  top: 6px;
  right: 9px;
}

.header .header_top .header_rightside .page-search .page-search_form .page-search_submit img {
  width: 19px;
}

.header .header_bottom {
  background-color: #202230;
}

.header .header_bottom .page-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

.header .header_bottom .page-tabs .page-tabs_home {
  padding: 20px 10px 0 0;
}

.header .header_bottom .page-tabs .page-tabs_home img {
  width: 19px;
  height: 20px;
}

.header .header_bottom .page-tabs .page-tabs_wrapper {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.header .header_bottom .page-tabs .page-tabs_wrapper .page-tabs_tab a {
  padding: 24px 18px 15px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 14px;
}

.header .header_bottom .page-tabs .page-tabs_wrapper .page-tabs_tab a:hover, .header .header_bottom .page-tabs .page-tabs_wrapper .page-tabs_tab a:focus {
  color: #ababab;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.main {
  background-color: rgba(220, 190, 100, 0.4);
  padding-top: 43px;
}

.search .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .search_leftside {
  position: relative;
  width: 55%;
  padding-right: 15px;
}

.search .search_leftside::after {
  content: '';
  position: absolute;
  bottom: -4px;
  right: 240px;
  background-image: url(../img/icon-sale.png);
  width: 99px;
  height: 99px;
}

.search .search_leftside .search_text-1 {
  color: #d8aa02;
  font-size: 25px;
  line-height: 29px;
  width: 555px;
}

.search .search_leftside .search_text-1 .search_important-text-1 {
  color: red;
  font-size: 41px;
  margin-top: 11px;
}

.search .search_leftside .search_text-2 {
  color: gray;
  font-size: 21px;
  line-height: 28px;
  margin-top: 52px;
  width: 555px;
}

.search .search_leftside .search_text-2 .search_important-text-2 {
  color: red;
  font-size: 29px;
}

.search .search_rightside {
  width: 45%;
  padding-left: 25px;
}

.search .search_rightside .search_title {
  color: #d8aa02;
  margin-top: 0;
  padding-left: 12px;
  width: 400px;
  margin-bottom: 0;
}

.search .search_rightside .search_text {
  color: gray;
  font-size: 19px;
  line-height: 23px;
  width: 400px;
  padding-left: 12px;
  margin-top: 13px;
}

.search .search_rightside .search-form {
  margin-top: 35px;
}

.search .search_rightside .search-form .search-form_row + .search-form_row {
  margin-top: 20px;
}

.search .search_rightside .search-form input {
  padding: 11px 11px;
  border-radius: 5px;
  border: none;
  width: 387px;
}

.search .search_rightside .search-form select {
  padding: 11px 11px;
  border-radius: 5px;
  border: none;
  color: green;
}

.search .search_rightside .search-form .search-form_meal {
  width: 207px;
}

.search .search_rightside .search-form .search-form_select {
  width: 176px;
}

.search .search_rightside .search-form .search-form_last-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search .search_rightside .search-form .search-form_last-row .search-form_checkbox {
  width: unset;
  margin-right: 16px;
}

.search .search_rightside .search-form .search-form_last-row label {
  font-size: 11px;
  white-space: nowrap;
}

.search .search_rightside .search-form .search-form_last-row .search-form_btn {
  border: none;
  background-color: red;
  color: white;
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  padding: 11px 60px;
  margin-left: 13px;
}

.guide {
  padding-bottom: 57px;
}

.guide .guide_title {
  margin-top: 27px;
  margin-bottom: 0;
}

.guide .guide_steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guide .guide_steps .guide_step .guide_step-top {
  color: gray;
  font-size: 20px;
  margin: 0;
  margin-left: 3px;
}

.guide .guide_steps .guide_step .guide_step-top .guide_step-number {
  color: red;
  font-weight: 700;
}

.guide .guide_steps .guide_step .guide_step-img {
  border: 3px solid white;
  position: relative;
  margin-top: 26px;
}

.guide .guide_steps .guide_step .guide_step-img img {
  width: 276px;
  height: 167px;
}

.guide .guide_steps .guide_step .guide_step-img::after {
  content: '';
  position: absolute;
  bottom: 132px;
  right: 249px;
  background-image: url(../img/step-after.png);
  width: 55px;
  height: 55px;
}

.guide .guide_steps .guide_step .guide_step-img::before {
  content: '';
  position: absolute;
  bottom: -8px;
  right: -4px;
  background-image: url(../img/step-after.png);
  width: 55px;
  height: 55px;
}

.guide .guide_steps .guide_step .guide_step-bottom {
  margin-top: 24px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  margin-left: 5px;
  width: 275px;
}

.partners {
  background-color: white;
  padding-top: 24px;
}

.partners .partners_title {
  margin-bottom: 5px;
}

.partners .partners_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 940px;
}

.partners .partners_items .partners_item img {
  width: 188px;
  height: 106px;
}

.footer {
  background-color: #202230;
  padding-bottom: 11px;
  color: white;
}

.footer .container {
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .page-tabs .page-tabs_wrapper {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}

.footer .page-tabs .page-tabs_wrapper .page-tabs_tab + .page-tabs_tab {
  margin-left: 21px;
}

.footer .page-tabs .page-tabs_wrapper .page-tabs_tab a {
  padding: 25px 8px 15px;
  color: white;
  display: block;
  font-size: 14px;
}

.footer .page-tabs .page-tabs_wrapper .page-tabs_tab a:hover, .footer .page-tabs .page-tabs_wrapper .page-tabs_tab a:focus {
  color: #ababab;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .page-tabs .page-tabs_text {
  margin: 0;
  margin-left: 13px;
  color: white;
  font-size: 12px;
}

.footer .footer_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer_contacts .footer_phone {
  padding-top: 24px;
}

.footer .footer_contacts .footer_phone + .footer_phone {
  margin-left: 68px;
}

.footer .footer_contacts .footer_phone .phone-number span + span {
  margin-left: 8px;
}

.footer .footer_contacts .footer_phone .footer_email {
  padding-left: 13px;
}

.footer .footer_contacts .footer_phone .footer_email a {
  letter-spacing: 1px;
  font-size: 12px;
  color: white;
}
