// compress: true

body {
	overflow-x: hidden;
	font-family: sans-serif;
	background-color: #262626;
	font-size: 18px;
}

a {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.card {
	padding: 22px;
	.card_title {
		font-weight: bold;
		font-size: 1.5rem;
	}
	p {
		margin: 22px 0;
	}
	.card_code {
		width: 455px;
		padding: 22px;
		background-color: black;
		color: rgb(186, 186, 0);
		.card_code_tab-gap {
			margin-left: 22px;
		}
		.card_code_blue {
			color: lightblue;
		}
		.card_code_comment {
			color: gray;
		}
	}
}

.header {
	box-shadow: inset 0 -2px 5px rgb(0 0 0 / 33%);
	background-color: rgba(0, 0, 0, 0.25);
	.header_wrapper {
		max-width: 100%;
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.header_leftside {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 45%;
			.logo {
				svg path {
					fill: white;
				}
			}
			.header_menu {
				ul {
					display: flex;
					color: white;
					text-transform: uppercase;
					font-size: 0.8rem;
					li + li {
						margin-left: 22px;
					}
				}
			}
		}
		.header_rightside {
			a + a {
				margin-left: 5px;
			}
		}
	}
}

.main {
	margin-top: 55px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: -113px;
		left: 0;
		width: 100%;
		height: 466px;
		z-index: -1;
		background: linear-gradient(
			130deg,
			#ff7a18,
			#af002d 41.07%,
			#319197 76.05%
		);
	}
	.site-nav {
		a {
			color: white;
		}
	}
	.article {
		.article_title {
			margin-top: 11px;
			color: white;
			font-size: 3rem;
			font-weight: bold;
		}

		.author {
			display: flex;
			align-items: center;
			margin-top: 22px;
			.author_pic {
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}
			}
			.author_name {
				color: white;
				margin-left: 11px;
				font-weight: bold;
			}
			.author_date {
				color: white;
				margin-left: 5px;
			}
		}
		.article_intro {
			margin-top: 22px;
			color: white;
			font-size: 1.5rem;
			line-height: 2rem;
			width: 800px;
		}
		.article_body {
			padding: 55px 30px;
			margin-top: 55px;
			background-color: white;
			border-radius: 5px;
			.article_start {
				display: flex;
				justify-content: space-between;
				.article_start_left {
					width: 50%;
					ul {
						list-style-type: disc;
						padding: 0 30px;
						text-decoration: underline;
						font-size: 2rem;
						li {
							font-weight: bold;
						}
						li + li {
							margin-top: 22px;
						}
					}
				}
				.article_start_right {
					display: flex;
					justify-content: space-between;
					.article_start_right-text {
						h3 {
							font-weight: bold;
							font-size: 1.5rem;
						}
						p {
							width: 322px;
							margin-top: 22px;
						}
						.btn {
							display: inline-block;
							margin-top: 33px;
							padding: 11px 22px;
							background-color: gray;
							color: white;
							font-size: 1.5rem;
							border-radius: 3px;
						}
					}
					.article_start_right-img {
						img {
							width: 333px;
							height: 333px;
						}
					}
				}
			}
		}
	}
	.article_sides {
		display: flex;
		justify-content: space-between;
		.article_side-img {
			width: 350px;
			height: 133px;
		}
		.article_side-text {
			font-weight: bold;
			font-size: 2rem;
			width: 444px;
			margin: 22px 0;
		}
		.article_leftside {
			width: 48%;
			.card {
				background: linear-gradient(rgba(156, 39, 176, 0.2), #fff);
			}
		}

		.article_rightside {
			width: 48%;
			.card {
				background: linear-gradient(rgba(255, 138, 0, 0.2), #fff);
			}
		}
	}
	.article_end {
		margin-top: 55px;
		.article_end_list {
			list-style-type: disc;
			padding: 0 30px;
			text-decoration: underline;
			font-size: 2rem;
			font-weight: bold;
			li {
				font-weight: bold;
			}
			li + li {
				margin-top: 22px;
			}
		}
		h3 {
			margin-top: 22px;
			font-size: 2rem;
			font-weight: bold;
		}
		p {
			margin: 33px 0;
		}
		.article_end_display-list {
			padding: 0 20px;
			list-style-type: disc;
			margin: 22px 0;
			li + li {
				margin-top: 11px;
			}
		}
		.article_end_table {
			margin-top: 22px;
			border-spacing: 0;
			width: 100%;
			margin: 0 0 1rem;
			border-radius: 8px;
			tr {
				th,
				td {
					border: 1px solid #bebebe;
					padding: 11px;
				}
			}
			.table-header {
				background-color: #262626;
				color: white;
			}
		}
	}
}
